<html>
<head>
    <title>New Twitter</title>
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="message" placeholder="Put the message"/>
        <input type="text" name="tag" placeholder="Tag"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Submit</button>
    </form>
</div>
<div>Message list</div>
<form method="get" action="/main">
    <input type="text" name="tag"/>
    <button type="submit">Find</button>
</form>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{message}}</span>
        <i>{{tag}}</i>
        <strong>{{authorName}}</strong>
    </div>
{{/messages}}
</body>
</html>