<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example </title>
</head>
<body>
{{#message}}
    {{message}}
{{/message}}
Add new user:
<form action="/registration" name="user" method="post">
    <div><label> User Name : <input type="text" name="name"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="Register"/></div>
</form>
</body>
</html>